<div class="container margin-top" fxLayout="wrap row" fxLayout.xs="column" fxLayoutGap="1%" fxLayoutAlign="center">
  <mat-card class="filter">
    <form #filternewsForm="ngForm">
      <mat-form-field>
        <mat-select placeholder="News Source" [(ngModel)]='filterSource' name="source" required>
          <mat-option *ngFor="let source of newsSources.sources" [value]="source.id">
            {{source.name}} - {{ source.language }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)='filterNews(filterSource)' [disabled]="!filternewsForm.form.valid">Filter News to
        <span style="text-transform: capitalize; ">{{filterSource}}</span>
      </button>

    </form>
  </mat-card>
</div>

<div class="loader" *ngIf="!((news.articles)?.length > 0)">
    <mat-spinner></mat-spinner>
  </div>
<div class="container" fxLayout="wrap row" fxLayout.xs="column" fxLayoutGap="1%" fxLayoutAlign="center">
  <div *ngFor="let post of news.articles" fxFlex="20%">

    <mat-card class=singleNews>
      <img mat-card-image src="{{post.urlToImage}}" onError="this.src='/assets/blank.png';">
      <div class="cardbody">
        <mat-card-title>{{post.title}}</mat-card-title>
        <mat-card-content>
          <p>{{post.description}}</p>
        </mat-card-content>
      </div>

      <mat-card-actions align="end">
        <a href="{{post.url}}" target="_balnk" mat-raised-button color="accent">Read More</a>
      </mat-card-actions>
    </mat-card>

  </div>

</div>
